NODE_ENV=development
PORT=5000

# Comma-separated list of allowed frontend origins
CLIENT_ORIGIN=http://localhost:5173

# MongoDB
MONGO_URI=mongodb+srv://rjtechtop5_db_user:Mgsh5WUTUGOSsZXR@cluster0.5fjtztp.mongodb.net/

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1d
JWT_EXPIRES_IN_REMEMBER_ME=30d

# Default Super Admin (auto-created on server startup if it doesn't exist)
SUPER_ADMIN_LOGIN_ID=fia@admin.com
SUPER_ADMIN_PASSWORD=fia@123
